.gst-treatment-container{
    .MuiGrid-root{
        padding: 1%;
    }
    .MuiPaper-elevation1{
        box-shadow: 6px 12px 19px -5px rgba(0,0,0,0.33);
        -webkit-box-shadow: 6px 12px 19px -5px rgba(0,0,0,0.33);
        -moz-box-shadow: 6px 12px 19px -5px rgba(0,0,0,0.33);
    }
    .table-grid{
        padding: 20px 10px;
        margin-top: 4%;
    }
}
@media screen and (max-width: 600px) {
    .MuiGrid-root{
        padding: 3% !important;
    }
}